@import "../../css/common.css";
@import "../../css/common_layout.css";

.information-list {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #000;
  font-size: 15px;
}

.information-list .item {
  padding: 5px 0;
}

.information-list .item dt {
  float: left;
  width: 150px;
  font-weight: 600;
}

.information-list .item dd {
  overflow: hidden;
}
